.author {
  width: 302px;
  height: 214px;
  padding: 22.4px 8.6px 34.5px 9.8px;
  margin: auto;
  background-color: $color-white;
  color: $greyish-brown;
  transform: translateY(-34px);
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  @media (min-width: 768px) {
    width: 360px;
    height: 252px;
  }
  &__project {
    &--subtitle {
      font-size: 0.8rem;
      text-align: center;
      font-family: $font-family-poppins;
      margin-top: 12.4px;
      line-height: 9.4px;
      @media all and (min-width: 768px) {
        font-size: 1rem;
      }
    }
    &--line {
      width: 100%;
      border: 0;
      height: 2px;
      background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(1, 1, 1, 0.75),
        rgba(255, 255, 255, 0)
      );
      transform: translateY(-5px);
    }
    &--title {
      font-size: 1.4rem;
      color: $color-black;
      font-family: $font-family-poppins;
      margin-bottom: 5px;
      margin-top: 12px;
      @media all and (min-width: 768px) {
        font-size: 2.4rem;
        line-height: 35px;
      }
    }
    &--slogan {
      font-size: 1rem;
      margin-bottom: 14px;
      color: $greyish-brown-Two;
      font-family: $font-family-poppins;
      @media all and (min-width: 768px) {
        font-size: 1.6rem;
        transform: translateY(-50px);
      }
    }
    &--description {
      font-size: 0.8rem;
      font-family: $font-family-poppins;
      @media all and (min-width: 768px) {
        font-size: 1rem;
        transform: translateY(-40px);
      }
    }
    &--desc {
      font-size: 0.8rem;
      margin-bottom: 18.1px;
      line-height: 14.1px;
      text-align: justify;
      margin-right: 22px;
      @media all and (min-width: 768px) {
        font-size: 1rem;
        transform: translateY(-40px);
        line-height: 17.6px;
      }
    }
  }
  &__technologies {
    color: $greyish-brown;
    font-size: 1rem;
    @media all and (min-width: 768px) {
      background-color: rgba(0, 0, 0, 0.05);
      width: 155px;
      height: 22px;
      border-radius: 12px;
      text-align: center;
      transform: translateY(-45px);
      padding-top: 6px;
    }
  }
  &__info {
    width: 40%;
    text-align: center;
    margin-left: 7px;
    margin-top: 20px;

    &--image {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }

    &--job {
      color: $warm-grey;
      font-size: 1rem;
    }

    &--name {
      font-size: 1.4rem;
      color: $color-black;
    }
  }
}

.main {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }
}
.preview {
  margin: 31px auto 0;
  @media (min-width: 768px) {
    width: 50%;
    /* margin: 21px; */
    margin-left: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    @media (min-width: 768px) {
      width: 487px;
      height: 545px;
      object-fit: cover;
      object-position: center;
    }
  }
}
